<div class="backgroung-img"></div>

<div class="home-content">

  <div class="sticky">
    <a class="main_site_link" routerLink="/">przychodnia.pl</a>
  </div>

    <p class="main_text">REJESTRACJA</p>

  <div class="form-container">
    <form [formGroup]="registrationFormGroup" (ngSubmit)="register()">

      <label>
        <input data-toggle="tooltip" data-placement="right" title="Powinno zaczynać się od dużej litery i zawierać wyłącznie litery"
               type="text" formControlName="name" required [class.foo] = "submitted && currentFormControls.name.errors" placeholder="imie*">
        <div class="error" *ngIf="submitted && currentFormControls.name.errors?.required" >
          <p>nie wpisano imienia</p>
        </div>
        <div class="error" *ngIf="submitted && currentFormControls.name.errors?.minlength" >
          <p>imie za krótkie</p>
        </div>
        <div class="error" *ngIf="submitted && currentFormControls.name.errors?.pattern" >
          <p>imie nie spełnia założeń</p>
        </div>
      </label>

      <label>
        <input data-toggle="tooltip" data-placement="right" title="Powinno zaczynać się od dużej litery i nie zawierać cyfr"
               type="text" formControlName="surname" required [class.foo] = "submitted && currentFormControls.surname.errors" placeholder="nazwisko*">
        <div class="error" *ngIf="submitted && currentFormControls.surname.errors?.required" >
          <p>nie wpisano nazwiska</p>
        </div>
        <div class="error" *ngIf="submitted && currentFormControls.surname.errors?.minlength" >
          <p>nazwisko za krótkie</p>
        </div>
        <div class="error" *ngIf="submitted && currentFormControls.surname.errors?.pattern" >
          <p>nazwisko nie spełnia założeń</p>
        </div>
      </label>

      <label>
        <input data-toggle="tooltip" data-placement="right" title="Nie powinno zawierać znaków interpunkcyjnych prócz '.' lub '-'"
               type="text" formControlName="email" required [class.foo] = "submitted && currentFormControls.email.errors" placeholder="e-mail*">
        <div class="error" *ngIf="submitted && currentFormControls.email.errors?.required" >
          <p>nie podano adresu e-mail</p>
        </div>
        <div class="error" *ngIf="submitted && currentFormControls.email.errors?.pattern" >
          <p>niepoprawny adres e-mail</p>
        </div>
      </label>

      <label>
        <input data-toggle="tooltip" data-placement="right" title="Musi zawierać 8 znaków, jedną cyfrę, jedną małą i dużą literę"
               type="password" formControlName="password" required [class.foo] = "submitted && currentFormControls.password.errors" placeholder="hasło*">
        <div class="error" *ngIf="submitted && currentFormControls.password.errors?.required" >
          <p>nie podano hasła</p>
        </div>
        <div class="error" *ngIf="submitted && currentFormControls.password.errors?.minlength" >
          <p>hasło za krótkie</p>
        </div>
        <div class="error" *ngIf="submitted && currentFormControls.password.errors?.pattern" >
          <p>hasło nie spełnia założeń</p>
        </div>
      </label>

      <label>
        <input data-toggle="tooltip" data-placement="right" title="Powinno zaczynać się od dużej litery i nie zawierać cyfr"
               type="text" formControlName="city" required [class.foo] = "submitted && currentFormControls.city.errors" placeholder="miasto*">
        <div class="error" *ngIf="submitted && currentFormControls.city.errors?.required" >
          <p>nie wpisano miasta</p>
        </div>
        <div class="error" *ngIf="submitted && currentFormControls.city.errors?.pattern" >
          <p>nazwa miasta nie spełnia wymagań</p>
        </div>
      </label>

      <label>
        <input data-toggle="tooltip" data-placement="right" title="Powinna zawierać nazwę oraz numer"
               type="text" formControlName="address" required [class.foo] = "submitted && currentFormControls.address.errors" placeholder="adres*">
        <div class="error" *ngIf="submitted && currentFormControls.address.errors?.required" >
          <p>nie wpisano adresu</p>
        </div>
        <div class="error" *ngIf="submitted && currentFormControls.address.errors?.pattern" >
          <p>adres nie spełnia wymagań</p>
        </div>
      </label>

      <label>
        <input data-toggle="tooltip" data-placement="right" title="Powinien składać się wyłącznie z cyfr"
               type="tel" formControlName="phoneNumber" [class.foo] = "submitted && currentFormControls.phoneNumber.errors" placeholder="numer telefonu">
        <div class="error" *ngIf="submitted && currentFormControls.phoneNumber.errors?.pattern" >
          <p>podany numer nie spełnia wymagań</p>
        </div>
      </label>

      <label>
        <textarea data-toggle="tooltip" data-placement="right" title="Pare słów o Tobie"
                  type="text" formControlName="description" placeholder="opis"></textarea>
      </label>

      <button type="submit" >zarejestruj się</button>

    </form>

  </div>

</div>

