<div class="backgroung-img"></div>

<div class="login-and-registration-page-content">

  <div class="main-site-sticky-link">
    <a class="login-and-registration-main-site-link" routerLink="/">przychodnia.pl</a>
  </div>

  <p class="login-and-registration-header">LEKARZ</p>

  <div class="login-and-registration-form-container">
    <form class="login-and-registration-form" [formGroup]="loginFormGroup" (ngSubmit)="login()">

      <label class="login-and-registration-form-label">
        <input class="login-and-registration-form-input" type="text" formControlName="email" required
               [class.login-and-registration-error-border] = "submitted && currentFormControls.email.errors || submitted && !emailExist"
               placeholder="e-mail">
        <div class="login-and-registration-error" *ngIf="submitted && currentFormControls.email.errors?.required">
          <p>nie podano adresu e-mail</p>
        </div>
        <div class="login-and-registration-error" *ngIf="submitted && currentFormControls.email.errors?.pattern">
          <p>niepoprawny adres e-mail</p>
        </div>
        <div class="login-and-registration-error" *ngIf="submitted && !emailExist">
          <p>konto o takim emailu nie istnieje</p>
        </div>
      </label>

      <label class="login-and-registration-form-label">
        <input class="login-and-registration-form-input" type="password" formControlName="password" required
               [class.login-and-registration-error-border] = "submitted && currentFormControls.password.errors || submitted && !passwordCorrect"
               placeholder="hasło">
        <div class="login-and-registration-error" *ngIf="submitted && currentFormControls.password.errors?.required">
          <p>nie podano hasła</p>
        </div>
        <div class="login-and-registration-error" *ngIf="submitted && currentFormControls.password.errors?.minlength">
          <p>hasło za krótkie</p>
        </div>
        <div class="login-and-registration-error" *ngIf="submitted && !passwordCorrect">
          <p>niepoprawne hasło</p>
        </div>
      </label>

      <button class="login-button" type="submit" >zaloguj się</button>

    </form>
  </div>

  <div class="registration_link" (click)="redirect()">
    <p>zarejestruj się</p>
  </div>

</div>

