<div class="backgroung-img"></div>

<div class="home-page-content">

  <div class="menu-container">
    <div class="menu-content">
      <a class="menu-main_site_link" routerLink="/doktor-strona-główna">przychodnia.pl</a>
      <div class="straight-line"></div>
      <div class="menu-list">
        <div class="menu-element" *ngFor="let option of options" (click)="redirect(option)">
          <div id="blur"></div>
          <div class="icon">
            <mat-icon *ngIf="option == 'kalendarz'">calendar_today</mat-icon>
            <mat-icon *ngIf="option == 'wizyty'">assignment_turned_in</mat-icon>
            <mat-icon *ngIf="option == 'wyniki'">description</mat-icon>
          </div>
          <p class="menu-element-text">{{option}}</p>

        </div>
      </div>
    </div>
  </div>

  <div class="homepage-main-site">
    <div class="top-menu">
      <p> no elo </p>
    </div>
    <div class="patient-homepage-main-site-content">
      <h1 class="page-header">strona główna</h1>

      <div class="find-doctor-selectbox">
        <select class="find-doctor-select-element" [(ngModel)]="selectedCityId">
          <option class="disabled-option" disabled selected value="undefined">miasto</option>
          <option *ngFor="let city of cities | async" [ngValue]="city.cityId">{{city.cityName}}</option>
        </select>
        <select class="find-doctor-select-element" [(ngModel)]="selectedSpecializationId">
          <option class="disabled-option" disabled selected value="undefined">specjalizacja</option>
          <option *ngFor="let specialization of specializations | async" [ngValue]="specialization.specializationId">
            {{specialization.specializationName}}
          </option>
        </select>
        <button class="find-doctor-button">szukaj</button>
      </div>

      <div class="patient-homepage-option-box">
        <div id="{{option}}" *ngFor="let option of options" (click)="redirect(option)">
          <p *ngIf="option === 'wyniki'">wyniki badań</p>
          <p *ngIf="option !== 'wyniki'">{{option}}</p>
        </div>
      </div>

      <div class="homepage-text">
        <p>Strona główna przeznaczona jest dla lekarzy oferujących swoje usługi poprzez rejestracje internetową.</p>
        <p>W zakładce 'kalendarz' lekarz może ustawić konkretne dni oraz godziny swojej dostępności.</p>
        <p>W zakładce 'wizyty' lekarz ma możliwośc przeglądania zaplanowanych oraz odbytych wizyt, a także ich
          akceptowania.</p>
        <p>Natomiast w zakładce 'wyniki badań' lekarz może wystawić wyniki pacjentom oraz dodawać opisy do wizyt.</p>
      </div>

    </div>
  </div>

</div>

