<div class="backgroung-img"></div>

<div class="home-page-content">

  <div class="menu-container">
    <div class="menu-content">
      <a class="menu-main_site_link" routerLink="/doktor-strona-główna">przychodnia.pl</a>
      <div class="straight-line"></div>
      <div class="menu-list">

      </div>
    </div>
  </div>

  <div class="homepage-main-site">
    <div class="top-menu">
      <p> no elo </p>
    </div>
    <div class="homepage-main-site-content">
      <h1>strona główna</h1>

      <div class="find-doctor-selectbox">
        <select class="find-doctor-select-element" [(ngModel)]="selectedCityId">
          <option class="disabled-option" disabled selected value="undefined">miasto</option>
          <option *ngFor="let city of cities | async" [ngValue]="city.cityId">{{city.cityName}}</option>
        </select>
        <select class="find-doctor-select-element" [(ngModel)]="selectedSpecializationId">
          <option class="disabled-option" disabled selected value="undefined">specjalizacja</option>
          <option *ngFor="let specialization of specializations | async" [ngValue]="specialization.specializationId">
            {{specialization.specializationName}}
          </option>
        </select>
        <button class="find-doctor-button">szukaj</button>
      </div>

      <div class="doctor-homepage-option-box">
        <div id="{{option}}" *ngFor="let option of options" (click)="redirect(option)">
          <p *ngIf="option === 'wyniki'">wyniki badań</p>
          <p *ngIf="option !== 'wyniki'">{{option}}</p>
        </div>
      </div>

    </div>
  </div>

</div>

