.backgroung-img {
  background-image: url('background.png');
  background-position: 65% 120%;
  background-repeat: no-repeat;
  background-size: auto 60%;

  -webkit-filter: blur(1px);
  filter: blur(1px);
  height: 100%;
  width: 100%;

  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  display: block;
}


h1 {
  font-size: 80px;
  font-weight: lighter;
  color: #1342e8;
  text-shadow: 3px 3px 3px black;

  margin: 6% 0 2% 0;
  font-family: "Arial", sans-serif;
  text-align: center;
}
/*=======
  margin: 60px 0 20px 0;
  font-family: "Arial", sans-serif;
  text-align: center;
}*/


.doctor-homepage-option-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 50px 0 30px 0;
  flex-wrap: wrap;
}

.doctor-homepage-option-box div {
  padding: 10px;
  position: relative;
  margin: 20px 80px 0 80px;
  flex-basis: 330px;
  height: 300px;
  border: 7px solid mediumblue;
  border-radius: 20px;
  box-shadow: 6px 6px 6px black;

  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-content: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  transition: all 0.4s ease 0s;
  top: 0;
  left: 0;
}

.doctor-homepage-option-box div:hover {
  left: -7px;
  top: -7px;
  cursor: pointer;
}

.doctor-homepage-option-box #blur:hover {
  left: 0;
  top: 0;
}

.doctor-homepage-option-box p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: mediumblue;
  font-weight: 900;
  font-style: italic;
  font-size: 70px;
  line-height: 80px;
  text-align: center;
  text-shadow: 3px 3px 3px white;
  letter-spacing: 3px;
  word-break: break-word;
}

