.backgroung-img {
  background-image: url('background.png');
  background-position: 65% 120%;
  background-repeat: no-repeat;
  background-size: auto 65%;

  -webkit-filter: blur(1px);
  filter: blur(1px);
  height: 100%;
  width: 100%;

  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  display: block;
}

select {
  width: 400px; text-align-last:center;
}

.patient-homepage-option-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 50px 0 30px 0;
  flex-wrap: wrap;
}

.patient-homepage-option-box div {
  padding: 10px;
  position: relative;
  margin: 20px 80px 0 80px;
  flex-basis: 330px;
  height: 300px;
  border: 7px solid mediumblue;
  border-radius: 20px;
  box-shadow: 6px 6px 6px black;

  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-content: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  transition: all 0.4s ease 0s;
  top: 0;
  left: 0;
}

.patient-homepage-option-box div:hover {
  left: -7px;
  top: -7px;
  cursor: pointer;
}

.patient-homepage-option-box #blur:hover {
  left: 0;
  top: 0;
}

.patient-homepage-option-box p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: mediumblue;
  font-weight: 900;
  font-style: italic;
  font-size: 70px;
  line-height: 80px;
  text-align: center;
  text-shadow: 3px 3px 3px white;
  letter-spacing: 3px;
  word-break: break-word;
}

.patient-main-site-content {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage-text {
  width: 1000px;
  line-height: 28px;
  position: fixed;
  bottom: 0;
  font-size: 24px;
  font-weight: bolder;
  font-family: Serif, sans-serif;
  color: black;
  text-shadow: 1px 1px 1px black;
  margin: 0 auto 0 auto;
  padding-bottom: 20px;
}
