<!--
<button (click)="open()">button</button>
<p>{{observable1 | async}}</p>

<router-outlet></router-outlet>
-->

<jqxScheduler #schedulerReference
              (onAppointmentAdd)="AppointmentClick()"
              [date]="date"
              [width]="800"
              [height]="700"
              [source]="dataAdapter"
              [showLegend]="true"
              [editDialogCreate]="editDialogCreate"
              [editDialogOpen]="editDialogOpen"
              [editDialogClose]="editDialogClose"
              [view]="'weekView'"
              [localization]="localization"
              [appointmentDataFields]="appointmentDataFields"
              [resources]="resources"
              [views]="views"
              >
</jqxScheduler>
