<div class="backgroung-img"></div>

<div class="home-content">
  <a routerLink="/">przychodnia.pl</a>
  <p id="main_text">PACJENT</p>

  <div class="form-container">
      <form [formGroup]="loginFormGroup" (ngSubmit)="login()">

        <label>
          <p>E-mail:</p>
          <input type="text" formControlName="email" required [class.foo] = "submitted && currentFormControls.email.errors" placeholder="Twój e-mail">
          <div *ngIf="submitted && currentFormControls.email.errors">zły email</div>
        </label>

        <label>
          Hasło:
          <input type="text" formControlName="password" required placeholder="Hasło">
        </label>
        <button type="submit" >Zaloguj</button>
      </form>

  </div>

</div>
