<div class="backgroung-img"></div>

<div class="home-content">
  <a routerLink="/">przychodnia.pl</a>
  <br><br><br>
  <div class="form-container">
    <div class="login-content">
      <p>PACJENT</p>
      <form [formGroup]="loginFormGroup" (ngSubmit)="login()">

        <label>
          E-mail:
          <input type="text" formControlName="email" required [class.foo] = "submitted && currentFormControls.email.errors">
          <div *ngIf="submitted && currentFormControls.email.errors">zły email</div>
        </label>

        <label>
          Hasło:
          <input type="text" formControlName="password" required>
        </label>
        <button type="submit" >Zaloguj</button>
      </form>
    </div>

  </div>

</div>
