<div class="backgroung-img"></div>

<div class="home-page-content">

  <div class="menu-container">
    <div class="menu-content">
      <a class="menu-main_site_link" routerLink="/doktor-strona-główna">przychodnia.pl</a>
      <div class="straight-line"></div>
    </div>
  </div>
<!--
  <mat-sidenav-container>
    <mat-sidenav [(opened)]="opened">
      <mat-toolbar color="primary">Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item>pierwsze</a>
        <a mat-list-item>drugie</a>
        <a mat-list-item>trzecie</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary" >
        <button mat-icon-button (click)="opened=!opened">
          <mat-icon>menu</mat-icon>
        </button>
        <a class="main_site_link" routerLink="/doktor-strona-główna">przychodnia.pl</a>
      </mat-toolbar>
      <ng-component></ng-component>
    </mat-sidenav-content>
  </mat-sidenav-container>
-->

  <div class="homepage-main-site">
    <div class="top-menu">
      <p> no elo </p>
    </div>
    <div class="homepage-main-site-content">
      <h1>strona główna</h1>

      <div class="doctor-homepage-option-box">
        <div id="{{option}}" *ngFor="let option of options" (click)="redirect(option)">
          <p *ngIf="option === 'wyniki'">wyniki badań</p>
          <p *ngIf="option !== 'wyniki'">{{option}}</p>
        </div>
      </div>
    </div>

  </div>
<!--
  <mat-sidenav-container>
    <mat-sidenav [(opened)]="opened">menu</mat-sidenav>
    <mat-sidenav-content>
      <button mat-icon-button (click)="opened=!opened">
        <mat-icon>menu</mat-icon>
      </button>

      <div class="main-site">
        <div class="main-site-content">
          <h1>strona główna</h1>

          <div class="option-box">
            <div id="{{option}}" *ngFor="let option of options" (click)="redirect(option)">
              <p *ngIf="option === 'wyniki'">wyniki badań</p>
              <p *ngIf="option !== 'wyniki'">{{option}}</p>
            </div>
          </div>

        </div>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>-->


</div>
