<div class="backgroung-img"></div>

<div class="home-page-content">

  <div class="menu-container">
    <div class="menu-content">
      <a class="menu-main_site_link" routerLink="/doktor-strona-główna">przychodnia.pl</a>
      <div class="straight-line"></div>
    </div>
  </div>

  <div class="homepage-main-site">
    <div class="top-menu">
      <div class="logout-info" *ngIf="logoutStatus">
        <p>wylogowano pomyślnie</p>
      </div>
      <div class="logout-button" (click)="logout()">
        <p>wyloguj</p>
      </div>
    </div>
    <div class="homepage-main-site-content">
      <h1 class="page-header">{{user.name}} {{user.surname}}</h1>
      <h2 class="specialization_header">{{specialization}}</h2>

      <div class="doctor-homepage-option-box">
        <div id="{{option}}" *ngFor="let option of options" (click)="redirect(option)">
          <p *ngIf="option === 'wyniki'">wyniki badań</p>
          <p *ngIf="option !== 'wyniki'">{{option}}</p>
        </div>
      </div>

      <div class="homepage-text">
        <p>Strona główna danego lekarza prezentuje informacje o nim, a także dostępne opcje znajdujące się pod kolejnymi zakładkami.</p>
        <p>W zakładce 'kalendarz' lekarz może ustawić konkretne dni oraz godziny swojej dostępności.</p>
        <p>W zakładce 'wizyty' lekarz ma możliwość przeglądania zaplanowanych oraz odbytych wizyt.</p>
        <p>Natomiast w zakładce 'pacjenci' lekarz może przeglądać listę swoich pacjentów.</p>
      </div>
    </div>

  </div>
</div>
