.backgroung-img {
  background-image: url(https://image.ceneostatic.pl/data/article_picture/ef/b6/fb2d-4c36-4ec6-ba73-6521402da566_large.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(6px);
  filter: blur(6px);
  width: 100%;
  height: 100vh;

  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  top: 0;
  bottom: 0;
  display: block;
}

.home-content {
  margin: 15px 25px 15px 25px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9999;
  padding: 0 0 5% 0;
}

.form-container {
  justify-content: center;
  display: flex;
  text-align: center;
  padding: 0 0 5% 0
}

.main_site_link {
  font-size: 35px;
  font-family: "Rage Italic", sans-serif;
  font-style: italic;
  margin: 20px;
  text-decoration: none;
  text-shadow: 3px 3px 3px black;
  color: white;

  transition: all 0.4s ease 0s;
}

.main_text {
  text-align: center;
  font-size: 65px;
  font-weight: 100;
  color: #1342e8;
  text-shadow: 2px 2px 5px black;
  margin: 6% 0 2% 0;
  font-style: italic;
  font-family: "Arial", sans-serif;
}


form {
  width: 70%;
}

label {
  display: block;
  margin: 3% 0 0 0;
}

input {
  width: 60%;
  padding: 15px;
  font-size: 24px;
  border: 3px solid #1342e8;
  border-radius: 7px;
}

input:focus {
  outline: none;
  background-color: aliceblue;
}

::placeholder {
  color: dimgray;
  font-style: italic;
}

p {
  font-size: 32px;
  text-align: center;
  color: #1342e8;
  font-style: italic;
  font-family: "Arial", sans-serif;
  text-shadow: 1px 1px 3px black;
}

button {
  margin: 3% 0 0 0;
  height: 61px;
  width: 63%;
  color: white;
  font-size: 24px;
  font-style: italic;
  border: 3px solid darkgreen;
  border-radius: 40px;
  background-color: forestgreen;

  transition: all 0.4s ease 0s;
}

button:hover {
  border-radius: 7px;
  cursor: pointer;
  letter-spacing: 5px;
}

.error {
  justify-content: center;
  display: flex;
}

.error p{
  margin: 0;
  width: 60%;
  font-size: 24px;
  text-shadow: 2px 2px 2px black;
  color: red;
  font-weight: bold;
  position: relative;
}

.foo {
  border: 3px solid red;
}
