<div class="backgroung-img"></div>

<div class="home-page-content">

  <div class="menu-container">
    <div class="menu-content">
      <a class="menu-main_site_link" routerLink="/doktor-strona-główna">przychodnia.pl</a>
      <div class="straight-line"></div>
    </div>
  </div>

  <div class="homepage-main-site">
    <div class="top-menu">
      <div class="logout-button" (click)="logout()">
        <p>wyloguj</p>
      </div>
    </div>
    <div class="homepage-main-site-content">
      <h1 class="page-header">strona główna</h1>

      <div class="doctor-homepage-option-box">
        <div id="{{option}}" *ngFor="let option of options" (click)="redirect(option)">
          <p *ngIf="option === 'wyniki'">wyniki badań</p>
          <p *ngIf="option !== 'wyniki'">{{option}}</p>
        </div>
      </div>

      <div class="homepage-text">
        <p>Strona główna przeznaczona jest dla lekarzy oferujących swoje usługi poprzez rejestracje internetową .</p>
        <p>W zakładce 'kalendarz' lekarz może ustawić konkretne dni oraz godziny swojej dostępności.</p>
        <p>Natomiast w zakładce 'wizyty' lekarz ma możliwośc przeglądania zaplanowanych oraz odbytych wizyt, a także ich
          akceptowania.</p>
      </div>
    </div>

  </div>
<!--
  <mat-sidenav-container>
    <mat-sidenav [(opened)]="opened">menu</mat-sidenav>
    <mat-sidenav-content>
      <button mat-icon-button (click)="opened=!opened">
        <mat-icon>menu</mat-icon>
      </button>

      <div class="main-site">
        <div class="main-site-content">
          <h1>strona główna</h1>

          <div class="option-box">
            <div id="{{option}}" *ngFor="let option of options" (click)="redirect(option)">
              <p *ngIf="option === 'wyniki'">wyniki badań</p>
              <p *ngIf="option !== 'wyniki'">{{option}}</p>
            </div>
          </div>

        </div>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>-->


</div>
