.backgroung-img {
  background-image: url(https://cdnb.artstation.com/p/assets/images/images/010/287/509/large/kleif-alexander-tan-6.jpg?1523611112);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  width: 100%;
  height: 100vh;

  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  top: 0;
  bottom: 0;
  display: block;
}

.home-content {
  margin: 15px 25px 15px 25px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
}

.option-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.option {
  padding: 10px;
  position: relative;
  margin: 0 5% 0 5%;
  background-color: white;
  width: 30%;
  height: 300px;
  border: 7px solid mediumblue;
  border-radius: 20px;
}

a {
  font-size: 35px;
  font-family: "Rage Italic", sans-serif;
  font-style: italic;
  padding: 20px;
  text-decoration: none;
  text-shadow: 3px 3px 3px black;
  color: white;
}

